<div class="container mt-4">
  <h3>My courses</h3>
  <table class="table table-striped mt-4">

    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Thumnel</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.description}}</td>
          <td>{{this.thumnel}}</td>
          <td>
            <a
              href="/courses/{{this._id}}/edit"
              class="btn btn-light"
            >Update</a>
            <a
              href="/course/{{this._id}}/delete"
              class="btn btn-light"
            >Delete</a>
          </td>
        </tr>
      {{/each}}

    </tbody>

  </table>
</div>